body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding-top: 10px;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
}

nav button {
    padding: 8px 100px; 
    background-color: white; 
    font-size: 20px; 
    border-width: 1px;
}

.active {
    background-color: rgb(5, 5, 122);
    border-color: rgb(5, 5, 122);
    color: white;
}

.sec1 {
    padding-left: 50px;
    padding-bottom: 20px;
    padding-right: 1000px;
    padding-top: 0;
    line-height: 1.6;
    background-color: rgb(237, 150, 137);
}

.sec2 {
    margin: 20px auto;
    padding-left: 5%;
    padding-bottom: 20px;
    padding-right: 5%;
    line-height: 1.6;
}

.sec3 {
    margin: 20px auto;
    padding-left: 5%;
    padding-bottom: 20px;
    padding-right: 5%;
    line-height: 1.6;
}

.sec4 {
    margin-left: 40px auto;
    margin-right: 20px auto;
    margin-bottom: 20px;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1.6;
}


.sec2, .sec3, .sec4 {
    background-color: rgb(82, 183, 90);
}

h1 {
    font-size: 60px;
    margin-top: 10px;
}

h2, h4 {
    text-align: center;
}

.footer1 {
    text-align: center;
    padding: 10px;
    background-color: rgb(182, 189, 183);
    font-size: 14px;
    letter-spacing: 1px;
}

