body {
    background-color: #f5f5dd;
}
#a1,#a2,#a3,#a4 {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}
#a1 {
  background-color: rgba(0, 0, 0, 1);
}
#a2 {
  background-color: rgba(0, 0, 0, 0.75);
}
#a3 {
  background-color: rgba(0, 0, 0, 0.5);
}
#a4 {
  background-color: rgba(0, 0, 0, 0.25);