body {
    background-color: rgb(175, 184, 185);
}
h1 {
    background-color: lightblue;
}
h2 {
    background-color: lightsalmon;
}
#p1 {
    background-color: bisque;
}
#p2 {
    background-color: blanchedalmond;
}
#ol1 {
    background-color: rgb(255, 255, 255);
}

li:nth-child(1) {color: rgb(209, 171, 113);}
li:nth-child(2) {color: rgb(221, 178, 114);}
li:nth-child(3) {color: rgb(108, 165, 130);}
li:nth-child(4) {color: rgb(141, 108, 146);}
li:nth-child(5) {color: rgb(172, 145, 166);}